<div [formGroup]="form">
  <!-- PASSWORD -->
  <ion-item>
    <ion-input label="Password*" labelPlacement="floating" formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'" (ionBlur)="markAsTouched('password')"></ion-input>
    <ion-icon *ngIf="!isPasswordInputEmpty" [name]="isPasswordHidden ? 'eye' : 'eye-off'" (click)="togglePasswordVisibility()" slot="end" size="small"></ion-icon>
  </ion-item>
  <ion-text color="danger" size="small" *ngIf="hasErrors('password', 'required')" class="ion-padding-horizontal">
    <small>Password is required!</small>
  </ion-text>

  <ion-item>
    <ion-input label="Confirm password*" labelPlacement="floating" formControlName="confirmPassword" type="password"></ion-input>
  </ion-item>
  <ion-text color="danger" size="small" *ngIf="!isPasswordSame()" class="ion-padding-horizontal">
    <small>Password doesn't match!</small>
  </ion-text>

  <ion-item lines="none">
    <ion-button slot="start" size="default" color="tertiary" fill="clear" (click)="handlePrevForm()">
      Prev
    </ion-button>
  </ion-item>

</div>