ion-input.location-searchbar{
    --border-width: 2px;
    --background:white;
    --padding-left: 10px;
    --padding-right: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border-radius: 10px;
}