<ion-card class="ion-no-padding ion-no-margin">
  <ion-card-header>
    <ion-card-title>Find Your Account</ion-card-title> 
  </ion-card-header>

  <ion-card-content class="ion-no-padding ion-padding-vertical">
    <!-- USERNAME -->
    <ion-item>
      <ion-input label="What's your Username?" labelPlacement="floating" formControlName="username" type="text" (ionBlur)="markAsTouched('username')"></ion-input>
    </ion-item>
    <ion-text color="danger" size="small" *ngIf="hasErrors('username', 'required')" class="ion-padding-horizontal">
      <small>Username is required!</small>
    </ion-text>   
  </ion-card-content>
  <ion-button expand="block" class="btn w-72 mx-auto my-6">
    <ion-text color="white">Find</ion-text>
  </ion-button>
</ion-card>