ion-chip.active{
    --background: var(--ion-color-tertiary);
    --color: white;
}

ion-button.save-rem-btn{
    --border-radius: none;
}

ion-card.google-card{
    height: 150px;
}

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
}