<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CostCo Whole Food</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="text-3xl">CostCo Whole Food</ion-title>
    </ion-toolbar>
    
    <p class="ion-padding-horizontal">2540 West Boise Avenue</p>
  </ion-header>

  <ion-range aria-label="Volume" class="ion-margin-horizontal ion-padding" labelPlacement="start" [pin]="true" [pinFormatter]="returnUnit" [max]="getMax()" [min]="getMin()" [value]="getValue()">
    <div slot="label" class="mr-4 -ml-4">Radius:</div>
  </ion-range>
  
  <div class="flex justify-center items-center mt-4 space-x-6">
    <ion-chip class="w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'km') ? 'active' : ''" (click)="changeUnit('km')">km</ion-chip>
    <ion-chip class="w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'm') ? 'active' : ''" (click)="changeUnit('m')">m</ion-chip>
    <ion-chip class="w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'mil') ? 'active' : ''" (click)="changeUnit('mil')">mil</ion-chip>
  </div>

  <div class="ion-margin my-6">
    <ion-text>
      <strong class="text-xl">Reminders:</strong>
    </ion-text>
  </div>

  <ion-card class="ion-no-padding ion-margin-vertical">
    <ion-card-content>
      <!-- reminder 1 -->
      <app-reminder-item></app-reminder-item>

      <!-- reminder 2 -->
      <app-reminder-item></app-reminder-item>

      <ion-item-sliding class="ion-no-padding" *ngIf="isAddRemInputOpen">
        <ion-item class="ion-no-padding">
          <ion-checkbox aria-label="" slot="start"></ion-checkbox>
          <ion-input [clearInput]="true" placeholder="Add" label="" (ionFocus)="enableSaveButton()"></ion-input>
        </ion-item>

        <ion-item-options>
          <ion-item-option>
            <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card-content>

    <ion-button expand="block" fill="clear" (click)="handleToogleInputs()">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-button>
  </ion-card>
  
</ion-content>