<div [formGroup]="form">
  <!-- USERNAME -->
  <ion-item>
    <ion-input #username label="Username*" labelPlacement="floating" formControlName="username" type="text" debounce="1000" (ionInput)="checkUsername()" (ionBlur)="markAsTouched('username')"></ion-input>
  </ion-item>
  <ion-text color="danger" size="small" *ngIf="hasErrors('username', 'required')" class="ion-padding-horizontal">
    <small>Username is required!</small>
  </ion-text>
  <ion-text color="danger" size="small" *ngIf="usernameTaken" class="ion-padding-horizontal">
    <small>Username is already taken!</small>
  </ion-text>
  
  <!-- EMAIL -->
  <ion-item>
    <ion-input label="Email*" labelPlacement="floating" formControlName="email" type="text" (ionBlur)="markAsTouched('email')"></ion-input>
  </ion-item>
  <ion-text color="danger" size="small" *ngIf="hasErrors('email', 'required')" class="ion-padding-horizontal">
    <small>Email is required!</small>
  </ion-text>

  <!-- FIRSTNAME -->
  <ion-item>
    <ion-input label="First name" labelPlacement="floating" formControlName="firstname" type="text" (ionBlur)="markAsTouched('firstname')"></ion-input>
  </ion-item>
  
  <!-- LASTNAME -->
  <ion-item>
    <ion-input label="Last name" labelPlacement="floating" formControlName="lastname" type="text" (ionBlur)="markAsTouched('lastname')"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <ion-button slot="end" size="default" color="tertiary" fill="clear" (click)="handleNextForm()">
      Next
    </ion-button>
  </ion-item>
</div>
