<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-padding-vertical">
      <ion-title size="large">RemindMe</ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon size="large" name="notifications-outline"></ion-icon></ion-button>
        <ion-button><ion-icon size="large" name="person-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-button class="add-rem-btn w-72 fixed bottom-14 left-1/2 -translate-x-1/2">
    Add Reminder
  </ion-button>
</ion-content>
