<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Locations</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications"><ion-icon class="text-3xl" name="notifications-outline"></ion-icon></ion-button>
      <ion-button routerLink="/settings"><ion-icon class="text-3xl" name="person-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Locations</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="mt-6">
    <app-locations-list [locations]="locations" *ngIf="!isFetchingData"></app-locations-list>
    <app-locations-list-skeleton *ngIf="isFetchingData"></app-locations-list-skeleton>
  </div>

  <!-- modal that opens if users has declined locaiton or notification modal -->
  <app-enable-settings-modal [shouldOpen]="showLocationEnableSettingsModal" [type]="'location'" (modalDismissed)="handleModalDismiss($event)"></app-enable-settings-modal>
  <app-enable-settings-modal [shouldOpen]="showNotificationEnableSettingsModal" [type]="'notification'" (modalDismissed)="handleModalDismiss($event)"></app-enable-settings-modal>

  <div *ngIf="!isFetchingData && (!locations || !locations.length)" class="no-locations-logo fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center flex flex-col justify-center items-center">
    <img src="../../assets/teenager.png" class="w-24" alt="">
    <ion-text>
      <p>Create Reminder <span class="font-bold">Dude!</span></p>
    </ion-text>
  </div>

</ion-content>

<ion-footer class="ion-margin-vertical">
  <div class="flex justify-center">
    <ion-button class="add-rem-btn w-72 mx-auto" (click)="showAddLocationModal()">
      Add Reminder
    </ion-button>
  </div>
</ion-footer>
