<ion-text>
  <strong>Locations: </strong>
</ion-text>

<div class="space-y-4 my-2">
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
  <ion-item button lines="none">
    <ion-label>
      <h2>CostCo Whole Food</h2>
      <p>2540 West Boise Avenue</p>
    </ion-label>
    <ion-badge color="tertiary">3</ion-badge>
  </ion-item>
</div>
