<div class="space-y-4 my-2">
  <ion-item lines="none">
    <ion-label>
      <h2>
        <ion-skeleton-text animated="true" class="w-3/5"></ion-skeleton-text>
      </h2>
      <p>
        <ion-skeleton-text animated="true" class="w-1/2"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <h2>
        <ion-skeleton-text animated="true" class="w-3/5"></ion-skeleton-text>
      </h2>
      <p>
        <ion-skeleton-text animated="true" class="w-1/2"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <h2>
        <ion-skeleton-text animated="true" class="w-3/5"></ion-skeleton-text>
      </h2>
      <p>
        <ion-skeleton-text animated="true" class="w-1/2"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</div>
