<ion-item-sliding class="ion-no-padding" *ngIf="!isInEditState">
  <!-- SET 'lines=none' IF IT IS THE LAST ION-ITEM -->
  <ion-item class="ion-no-padding">
    <ion-checkbox aria-label="" slot="start"></ion-checkbox>
    <ion-label (click)="handleEdit()">
      <h2>{{reminder.title}}</h2>
    </ion-label>
  </ion-item>

  <ion-item-options>
    <ion-item-option (click)="handleDelete()">
      <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
<!-- If user clicks on edit button show these inputs -->
<div *ngIf="isInEditState">
  <ion-item-sliding class="ion-no-padding">
    <ion-item class="ion-no-padding">
      <ion-checkbox aria-label="" slot="start"></ion-checkbox>
      <ion-input #remTitleInput [clearInput]="true" placeholder="Add" label="" (ionInput)="updateRemTitle($event)" (ionBlur)="setReminderUpdatedToTrue()" ></ion-input>
    </ion-item>
  
    <ion-item-options>
      <ion-item-option>
        <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</div>