<ion-content [fullscreen]="true">
  <div class="w-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ion-padding-horizontal" slot="fixed">    
    <ion-card class="ion-no-padding ion-no-margin">
    <ion-card-header>
      <ion-card-title>Sign Up</ion-card-title> 
    </ion-card-header>

    <ion-card-content class="ion-no-padding ion-padding-vertical">
      <form [formGroup]="form">
        <app-first-form [form]="form" *ngIf="formPart === 1" (navFormButtonClicked)="handleChangeFormPart($event)" [usernameTaken]="usernameTaken"></app-first-form>
        <app-second-form [form]="form" *ngIf="formPart === 2" (navFormButtonClicked)="handleChangeFormPart($event)" (canRegister)="handleCanRegister($event)"></app-second-form>
      </form>

    </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="handleRegister()" class="login-btn w-72 mx-auto my-6">
      <ion-text *ngIf="!isRegistering">Create account</ion-text>
      <ion-spinner name="crescent" *ngIf="isRegistering"></ion-spinner>
    </ion-button>

    <div class="w-full">
      <ion-button expand="block" class="google-btn w-72 mx-auto my-6" (click)="handleGoogleSignIn()">
        <img src="../../assets/google-logo.png" class="w-8" alt="google-logo" *ngIf="!isGoogleSigningIn">
        <ion-text class="ml-4 font-extrabold" color="white" *ngIf="!isGoogleSigningIn">Sign in with Google</ion-text>
        <ion-spinner name="crescent" color="white" *ngIf="isGoogleSigningIn"></ion-spinner>
      </ion-button>
    </div>

    <!-- UNCOMMENT THIS IN FUTURE AND MAKE IT WORK -->
    <!-- <div class="w-full">
      <ion-button fill="clear" expand="block" class="apple-btn w-72 mx-auto my-6" (click)="handleGoogleSignIn()">
        <ion-icon name="logo-apple" color="primary"></ion-icon>
        <ion-text class="ml-4 font-extrabold" color="primary" *ngIf="!isGoogleSigningIn">Sign in with Apple</ion-text>
        <ion-spinner *ngIf="isGoogleSigningIn" name="crescent" color="white"></ion-spinner>
      </ion-button>
    </div> -->
  </div>
</ion-content>

<ion-footer class="ion-margin-vertical">
  <ion-text color="primary">
    <p class="text-center">Don't have an account? <span class="font-extrabold" routerLink="/login" routerDirection="back">Login</span></p>
  </ion-text>
</ion-footer>
