ion-item.title{
    --border-radius: 8px;
}   
  
ion-toolbar{
    --border-color: var(--ion-color-secondary);
}

ion-button.update-rem-btn{
    --border-radius: none;
}

ion-item.forgot-pwd-item{
    --background: transparent;
}