<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary" text="Locations"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button lines="none" class="title ion-padding rounded-lg" routerLink="/profile"> 
    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="" class="w-10 h-10 rounded-full mr-4">
    <p class="text-2xl">{{user.username}}</p>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        SETTINGS
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="space-y-4">
        <ion-item class="ion-no-padding" lines="none">
          <ion-label>
            <strong>Appearance</strong>
          </ion-label>
          <ion-select (ionChange)="handleThemeChange($event)" [value]="theme" slot="end" interface="popover">
            <ion-select-option value="light">Light</ion-select-option>
            <ion-select-option value="dark">Dark</ion-select-option>
            <ion-select-option value="system">System</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="ion-margin mt-6">
    <ion-text (click)="openReviewModal()">
      <h3 class="text-base mr-2 flex items-center">
        Have any feedback? 
        <ion-icon name="chatbubble-outline" class="ml-2"></ion-icon></h3>
    </ion-text>
  </div>
  <div class="ion-margin-horizontal">
    <ion-text>
      <h4 class="text-base mr-2 flex items-center">
        v0.1
      </h4>
    </ion-text>
  </div>

  <app-open-settings-popover [isSettingsPopoverOpen]="isSettingsPopoverOpen" (popoverDismissed)="dismissPopover($event)"></app-open-settings-popover>
  <app-notification-popover [isNotificationSettingsPopoverOpen]="isNotificationSettingsPopoverOpen" (popoverDismissed)="dismissPopover($event)"></app-notification-popover>
</ion-content>


<ion-footer class="ion-margin-vertical">
  <div class="flex justify-center">
    <ion-button class="logout-btn w-72 mx-auto" (click)="handleLogout()">
      Logout
    </ion-button>
  </div>
</ion-footer>
