<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-input label="" placeholder="Title" type="text" [clearInput]="true" (ionFocus)="increaseBreakPoint()"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input label="" placeholder="Subtitle" type="text" [clearInput]="true"></ion-input>
      </ion-item>
      <div class="flex justify-center items-center my-2 relative">
        <ion-button expand="block" class="add-rem-btn w-36" (click)="closeModal()">
          Save
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
