<ion-header>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-input placeholder="Title" type="text" class="ion-no-padding" [clearInput]="true" (ionFocus)="increaseBreakPoint()"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-select label="When" value="Arriving">
          <ion-select-option value="Arriving">Arriving</ion-select-option>
          <ion-select-option value="Departing">Departing</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="flex justify-center items-center my-2 relative">
        <ion-button expand="block" class="add-rem-btn w-36" (click)="closeModal()">
          Save
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
