<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="w-full top-20 ion-padding-horizontal" slot="fixed">
    <form [formGroup]="form">
      <ion-card class="ion-no-padding ion-no-margin">
        <ion-card-header>
          <ion-card-title>Verify Code</ion-card-title> 
          <ion-card-subtitle>We've just send you a verification code!</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="ion-no-padding ion-padding-vertical">
          <ion-item>
            <ion-input label="Vertification Code" labelPlacement="floating" formControlName="code" type="tel" (ionInput)="markAsTouched('code')"></ion-input>
          </ion-item>
          <ion-text color="danger" size="small" *ngIf="hasErrors('code', 'required')" class="ion-padding-horizontal">
            <small>Verification Code is required!</small>
          </ion-text>   
        </ion-card-content>
        <ion-item *ngIf="isCodeValid" lines="none">
          <ion-nav-link slot="end" *ngIf="isCodeValid" routerDirection="forward" [component]="component" [componentProps]="{form}">
            <ion-button color="tertiary" fill="clear" size="default">
              <ion-text>Next</ion-text>
            </ion-button>
          </ion-nav-link>
        </ion-item>
        <ion-button [disabled]="!form.controls['code'].touched" expand="block" class="btn w-72 mx-auto my-6" (click)="verifyCode()">
          <ion-text color="white">Verify</ion-text>
        </ion-button>
      </ion-card>
    </form>
  </div>
</ion-content>