<ion-header>
  <!-- This is needed inorder to close the modal by swiping downwards -->
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="searchbar-item">
    <ion-icon name="location-sharp" slot="start"></ion-icon>
    <ion-input label="" debounce="500" [(ngModel)]="searchBarInput" (ionInput)="searchPlace($event)" show-clear-button="focus" class="location-searchbar" placeholder="Search Address" [clearInput]="true"></ion-input>
  </ion-item>
  <ion-item *ngIf="googlePlacesApiResponse" class="ion-margin-top" lines="none" [detail]="false" button (click)="selectLocation()">
    <ion-label>
      <h3>{{googlePlacesApiResponse.result.name}}</h3>
      <p>{{googlePlacesApiResponse.result.formatted_address}}</p>
    </ion-label>
  </ion-item>
  <p class="ion-margin text-sm font-extrabold" *ngIf="newLocation.streetAddress">{{newLocation.streetAddress}}</p>

  <!-- Add google maps in the future -->
  
  <ion-range aria-label="Radius" class="ion-margin-horizontal" [step]="getStep()" labelPlacement="start" [pin]="true" [pinFormatter]="returnUnit" (ionInput)="updateRadius($event)" [max]="getMax()" [min]="getMin()" [value]="newLocation.radius">
    <div slot="label" class="mr-4 -ml-4">Radius:</div>
  </ion-range>
  
  <div class="flex justify-center items-center mt-4 space-x-6">
    <ion-chip class="min-w-14 h-7 flex justify-center font-extrabold" [class]="(newLocation.radiusUnit === 'km') ? 'active' : ''" (click)="changeUnit('km')">
      {{(newLocation.radiusUnit === 'km') ? newLocation.radius : ''}} km
    </ion-chip>
    <ion-chip class="min-w-14 h-7 flex justify-center font-extrabold" [class]="(newLocation.radiusUnit === 'm') ? 'active' : ''" (click)="changeUnit('m')">
      {{(newLocation.radiusUnit === 'm') ? newLocation.radius : ''}} m
    </ion-chip>
    <ion-chip class="min-w-14 h-7 flex justify-center font-extrabold" [class]="(newLocation.radiusUnit === 'mil') ? 'active' : ''" (click)="changeUnit('mil')">
      {{(newLocation.radiusUnit === 'mil') ? newLocation.radius : ''}} mil
    </ion-chip>
  </div>

  <ion-card class="ion-no-padding ion-no-margin ion-margin-vertical">
    <ion-card-header>
      <ion-card-subtitle>Tell me what you forget</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div>
        <!-- reminders for this particular location -->
        <app-reminder-item-modal *ngFor="let reminder of newLocation.reminders; let i = index" [reminder]="reminder" [index]="i"></app-reminder-item-modal>
      </div>

      <!-- when user click "+" button: -->
      <ion-item-sliding class="ion-no-padding" *ngIf="isAddRemInputOpen">
        <ion-item class="ion-no-padding">
          <ion-checkbox aria-label="" slot="start"></ion-checkbox>
          <ion-input [clearInput]="true" placeholder="Add" [(ngModel)]="newReminderTitle" label="" (ionBlur)="addNewReminder()"></ion-input>
        </ion-item>

        <ion-item-options>
          <ion-item-option>
            <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
        
    </ion-card-content>

    <ion-button expand="block" fill="clear" (click)="handleToggleInputs()">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-button>

  </ion-card>

</ion-content>

<ion-footer class="ion-margin-vertical">
  <div class="flex justify-center">
    <ion-button class="save-rem-btn w-72 mx-auto" (click)="saveAndCloseModal()">
      Save
    </ion-button>
  </div>
</ion-footer>
