<ion-header>
  <!-- This is needed inorder to close the modal by swiping downwards -->
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="searchbar-item">
    <ion-input label="" show-clear-button="focus" class="location-searchbar" placeholder="Search Address" [clearInput]="true"></ion-input>
    <ion-icon name="location-sharp" slot="end"></ion-icon>
  </ion-item>

  <!-- Add google maps in the future -->
  
  <ion-range aria-label="Radius" class="ion-margin-horizontal" [step]="getStep()" labelPlacement="start" [pin]="true" [pinFormatter]="returnUnit" (ionInput)="updateRadius($event)" [max]="getMax()" [min]="getMin()" [value]="getValue()">
    <div slot="label" class="mr-4 -ml-4">Radius:</div>
  </ion-range>
  
  <div class="flex justify-center items-center mt-4 space-x-6">
    <ion-chip class="min-w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'km') ? 'active' : ''" (click)="changeUnit('km')">
      {{(selectedUnit === 'km') ? currentRadiusValue : ''}} km
    </ion-chip>
    <ion-chip class=" min-w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'm') ? 'active' : ''" (click)="changeUnit('m')">
      {{(selectedUnit === 'm') ? currentRadiusValue : ''}} m
    </ion-chip>
    <ion-chip class="min-w-14 h-7 flex justify-center font-extrabold" [class]="(selectedUnit === 'mil') ? 'active' : ''" (click)="changeUnit('mil')">
      {{(selectedUnit === 'mil') ? currentRadiusValue : ''}} mil
    </ion-chip>
  </div>

  <ion-card class="ion-no-padding ion-no-margin ion-margin-vertical">
    <ion-card-header>
      <ion-card-subtitle>Tell me what you forget</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- reminders for this particular location -->
      <app-reminder-item-modal></app-reminder-item-modal>

      <!-- when user click "+" button: -->
      <ion-item-sliding class="ion-no-padding" *ngIf="isAddRemInputOpen">
        <ion-item class="ion-no-padding">
          <ion-checkbox aria-label="" slot="start"></ion-checkbox>
          <ion-input [clearInput]="true" placeholder="Add" label=""></ion-input>
        </ion-item>

        <ion-item-options>
          <ion-item-option>
            <ion-icon name="trash" slot="icon-only" size="small"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
        
    </ion-card-content>

    <ion-button expand="block" fill="clear" (click)="handleToogleInputs()">
      <ion-icon name="add-circle-sharp"></ion-icon>
    </ion-button>

  </ion-card>

</ion-content>

<ion-footer class="ion-margin-vertical">
  <div class="flex justify-center">
    <ion-button class="save-rem-btn w-72 mx-auto" (click)="closeModal()">
      Save
    </ion-button>
  </div>
</ion-footer>
